# Multi Index örnekler

In [1]:
import numpy as np
import pandas as pd

In [2]:
npDizi1 = np.random.randint(20,51,size=(2,4))
npDizi1

array([[49, 42, 32, 22],
       [47, 25, 50, 41]])

In [3]:
x_size = np.size(npDizi1,0)
x_size

2

In [4]:
y_size = np.size(npDizi1,1)
y_size

x_indexes = []
y_indexes = []
sayac = 1

In [5]:
for input1 in range(x_size):
    input1=input(f"{sayac}. indeks giriniz : ")
    x_indexes.append(input1)
    sayac = sayac + 1

sayac = 1
x_indexes

1. indeks giriniz : 1
2. indeks giriniz : 2

['1', '2']

In [6]:
for input1 in range(y_size):
    input1=input(f"{sayac}. column name giriniz : ")
    y_indexes.append(input1)
    sayac = sayac + 1
    
y_indexes

1. column name giriniz : Yaş
2. column name giriniz : Sıra No
3. column name giriniz : Grup No
4. column name giriniz : Kod

['Yaş', 'Sıra No', 'Grup No', 'Kod']

In [7]:
dataFrame1 = pd.DataFrame(npDizi1, index=x_indexes, columns=y_indexes)
dataFrame1

   Yaş  Sıra No  Grup No  Kod
1   49       42       32   22
2   47       25       50   41

In [8]:
dataFrame1["Emekliliğe Kalan Süre"] = 50 - dataFrame1["Yaş"]

In [9]:
dataFrame1

   Yaş  Sıra No  Grup No  Kod  Emekliliğe Kalan Süre
1   49       42       32   22                      1
2   47       25       50   41                      3

In [17]:
eklemeDizi = np.random.randint(20,50,2)

In [18]:
eklemeDizi

array([47, 38])

In [19]:
dataFrame1["Ekleme"] = eklemeDizi

In [20]:
dataFrame1

   Yaş  Sıra No  Grup No  Kod  Emekliliğe Kalan Süre  Ekleme
1   49       42       32   22                      1      47
2   47       25       50   41                      3      38

In [22]:
dataFrame1.drop("Ekleme", axis=1, inplace=True)

In [23]:
dataFrame1

   Yaş  Sıra No  Grup No  Kod  Emekliliğe Kalan Süre
1   49       42       32   22                      1
2   47       25       50   41                      3