In [2]:
import pandas as pd
import numpy as np

# concat

In [3]:
sozluk1 = {
    "isim" : ["Ahmet", "Mehmet", "Zeynep", "Atıl"],
    "Spor" : ["Koşu", "Yüzme", "Koşu", "Basketbol"],
    "Kalori" : [100,200,300,400]
}

In [4]:
dataFrame1 = pd.DataFrame(sozluk1, index = [0,1,2,3])
dataFrame1

     isim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeynep       Koşu     300
3    Atıl  Basketbol     400

In [5]:
sozluk2 = {
    "isim" : ["Osman", "Levent", "Atlas", "Fatma"],
    "Spor" : ["Koşu", "Yüzme", "Koşu", "Basketbol"],
    "Kalori" : [200,100,50,300]
}

In [6]:
dataFrame2 = pd.DataFrame(sozluk2)

In [7]:
dataFrame2

     isim       Spor  Kalori
0   Osman       Koşu     200
1  Levent      Yüzme     100
2   Atlas       Koşu      50
3   Fatma  Basketbol     300

In [8]:
sozluk3 = {
    "isim" : ["Ayşe", "Mahmut", "Duygu", "Nur"],
    "Spor" : ["Koşu", "Yüzme", "Badminton", "Tenis"],
    "Kalori" : [300,400,500,250]
}

In [9]:
dataFrame3 = pd.DataFrame(sozluk3)
dataFrame3

     isim       Spor  Kalori
0    Ayşe       Koşu     300
1  Mahmut      Yüzme     400
2   Duygu  Badminton     500
3     Nur      Tenis     250

# concatenation

In [10]:
pd.concat([dataFrame1, dataFrame2, dataFrame3])  #default axis=0 (axis=1 olsaydı çok değişik bir oluyor kullanmana gerek yok)

     isim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeynep       Koşu     300
3    Atıl  Basketbol     400
0   Osman       Koşu     200
1  Levent      Yüzme     100
2   Atlas       Koşu      50
3   Fatma  Basketbol     300
0    Ayşe       Koşu     300
1  Mahmut      Yüzme     400
2   Duygu  Badminton     500
3     Nur      Tenis     250

## merge

In [18]:
mergeSozluk1 = {"Isim" : ["Ahmet", "Mehmet", "Zeynep", "Atıl"],
               "Spor" : ["Koşu", "Yüzme", "Koşu", "Basketbol"]
               }

In [19]:
mergeDataFrame1 = pd.DataFrame(mergeSozluk1)
mergeDataFrame1

     Isim       Spor
0   Ahmet       Koşu
1  Mehmet      Yüzme
2  Zeynep       Koşu
3    Atıl  Basketbol

In [20]:
mergeSozluk2 = {"Isim" : ["Ahmet", "Mehmet", "Zeynep", "Atıl"],
               "Kalori" : [100, 200, 150, 250]
               }

In [21]:
mergeDataFrame2 = pd.DataFrame(mergeSozluk2)
mergeDataFrame2

     Isim  Kalori
0   Ahmet     100
1  Mehmet     200
2  Zeynep     150
3    Atıl     250

In [22]:
pd.merge(mergeDataFrame1, mergeDataFrame2, on="Isim")

     Isim       Spor  Kalori
0   Ahmet       Koşu     100
1  Mehmet      Yüzme     200
2  Zeynep       Koşu     150
3    Atıl  Basketbol     250